* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background:  linear-gradient(90deg, rgb(247, 222, 178), yellow);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 50px 50px 0px 50px;
}

.tetris{
    border: 5px solid purple;
    display: grid;
    grid-template-columns: repeat(10, auto);
}
.tetris .O{
    background-color: brown;
}
.tetris .L{
    background-color: green;
}
.tetris .J{
    background-color: blue;
}
.tetris .T{
    background-color: rgb(252, 145, 4);
}
.tetris .I{
    background-color: lawngreen;
}
.tetris .S{
    background-color: rgb(241, 7, 105);
}
.tetris .P{
    background-color: rgb(239, 252, 0);
}
.tetris .K{
    background-color: rgb(0, 252, 248);
}


.tetris div{
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background: lightgrey;
    box-shadow: 
        inset 2px 2px 2xp black,
        inset -2px -2px 2px blue;
    border: 1px solid gray;
}
.score {
    font-size: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #03097d;
    /* margin-left: 50px; */
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.overlay{
 /* margin-left: 50px; */
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: rgba(23, 1, 165, 0.613);
 display: none;
 gap: 50px;
}
.overlay span{
    color: rgb(254, 240, 240);
    font-size: 60px;
}
.btn-restart {
    padding: 20px;
    border: none;
    background-color: rgb(4, 4, 150);
    border-radius: 3px;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    height: fit-content;
}

.rules{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.rules-item{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;

}
.rules-item span{
    font-size: 20px;
    font-weight: bold;
    color:rgb(241, 7, 105);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rules-item p{
    font-size: 18px;
    font-weight: 500;
    color:rgb(7, 42, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.arrow-mobile{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;

}
.arrow-line {
    display: flex;
    flex-direction: row;
    gap: 3px;

}
.arrow {
    height: 50px;
    width: 50px;
    border: 1px solid #000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    text-align: center;
    background-color: chocolate;
    color: #fff;
    cursor: pointer;
}



@media screen and (max-width:756px){
    body{
        flex-direction: column-reverse;
        overflow: scroll;
        height: 100%;
        gap: 20px;
        padding: 10px;
        align-items: center;

    }
    .score {
        font-size: 36px;
        border-radius: 10px;
        padding: 5px;
        width: 150px;
        display: flex;
        justify-content: center;
    }
    .rules-item span{
        font-size: 18px;
    }
    .rules-item p{
        font-size: 16px;
    }
    
    
}

